*.xml
PROJECT_MODULARIZACION/.gradle/*
PROJECT_MODULARIZACION/gradle/*
PROJECT_MODULARIZACION/.idea/*
PROJECT_MODULARIZACION/build/*
PROJECT/.gradle/*
PROJECT/gradle/*
PROJECT/.idea/*
PROJECT/build/*
POC/.gradle/*
POC/gradle/*
POC/.idea/*
POC/build/*
EXERCISES/.gradle/*
EXERCISES/gradle/*
EXERCISES/.idea/*
EXERCISES/build/*
*.jpg
*.mp4
.idea/*
*.class
*.jar
*.txt
*.MF
